.company{
    background-color: white;
    width: 100%;
    padding-top: 87px;
    padding-bottom: 10px;
    .container{
        display: flex;
        max-width: 1200px;
        justify-content: space-between;
        .card01{
            max-width: 786px;
            img{
                padding-bottom: 20px;
            }
            .icons{
                display: flex;
                gap: 15px;
                width: 150px;
            }
        }
        .card{
            max-width: 450px;
            height: 210px;
            margin: 0 17px;
            min-width: 200px;
        }
        h4{
            font-size: 18px;
            margin-bottom: 33px;
            letter-spacing: 2px;
            font-weight: 500;
        }
        p{
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}