.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 79px;
    &__logo {
        width: 100px;
    }
    &__menu {
        margin-left: 40px;
        display: flex;
        align-items: center;
        &--ul {
            display: flex;
            list-style: none;
            & > li {
                padding: 30px 10px;
                position: relative;
            }
            & > li a {
                text-decoration: none;
                transition: all ease 0.3s;
                color: black;
                &:hover {
                    color: #ef8b59 ;
                }
                &.icon {
                    padding-right: 18px;
                    position: relative;
                }
                &.icon:after {
                    content: "";
                    border-top: 8px solid #000;
                    border-right: 6px solid transparent;
                    border-left: 6px solid transparent;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -4px;
                    &:hover {
                    color: red;
                }
                }
            }
        }
    }
}

.header__menu ul.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 116px;
    display: none;
    background-color: #ef8b59;
    padding: 0 15px;
    color: #fff;
}
.header__menu ul.submenu li {
    border-bottom: 1px solid #fff;
    padding: 15px 0;
}
.header__menu ul.submenu li a {
    color: #fff !important;
    &:hover {
        color: red !important;
    }
}
.header__menu ul.header__menu--ul li:hover ul.submenu {
    display: block;
}
.header__menu > .header__menu--ul > li > a.icon img { width: 18px !important; height: 18px !important; }

