.products {
    background-color: white;
    width: 100%;
    .container{
        padding-top: 120px;
        padding-bottom: 120px;
        .title{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0;
            color: #2d3436;
        }
        .text{ 
            text-align: center;
             position: relative;
            letter-spacing: 0;
            color: #a3a3a3;
            margin-top: 13px ;
            &::after{
                content: '';
                position: absolute;
                bottom: -27px;
                left: 50%;
                border: 1px solid #a3a3a3;
                transform: translate(-50%);
                width: 60px;
            }   
        }
        
    }
    .group{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 73px;
        .card{
            background-color:white;
            border-radius: 0 0 10px 10px;
            .review{      
                position: relative;   
                .info{
                    padding: 18px 20px 15px;
                    .rating{
                        font-size: 16px;
                    }
                    .p1{
                        margin-top: 6px;
                        font-size: 17px;
                        letter-spacing: 0;
                        color: black;          
                    }
                    .prices{
                         padding-top: 10px;
                        .old{
                            color: #a3a3a3;
                            position: relative;
                            font-size: 15px;
                            padding-right: 14px;
                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                border: 1px solid #c0bbb4;
                                width: 60px;
                            }
                        }
                        .new{
                            font-size: 17px;
                            font-weight: 600;
                            color:#ef8b59;
                        
                        }
                    }
                }
            }
        }

    }

}